GLOBAL_SETTINGS
    GRADE_CONTAINER demo
    HOST_HOME_XFER labtainer_xfer/
    LAB_MASTER_SEED dew_evidence_2026_master_seed
    COLLECT_DOCS YES

NETWORK local-net
    MASK 172.25.20.0/24
    GATEWAY 172.25.20.1

CONTAINER demo
    TERMINALS 1
    REGISTRY doanhduc536
    USER ubuntu
    PASSWORD ubuntu
    local-net 172.25.20.10
    ADD-HOST tester:172.25.20.20

CONTAINER tester
    TERMINALS 1
    REGISTRY doanhduc536
    USER ubuntu
    PASSWORD ubuntu
    local-net 172.25.20.20
    ADD-HOST demo:172.25.20.10
