GLOBAL_SETTINGS
    GRADE_CONTAINER audit
    HOST_HOME_XFER labtainer_xfer/
    LAB_MASTER_SEED dew_audit_2026_master_seed
    COLLECT_DOCS YES

NETWORK local-net
    MASK 172.25.30.0/24
    GATEWAY 172.25.30.1

CONTAINER audit
    TERMINALS 1
    REGISTRY vhtuan2004
    IMAGE_NAME vp9-padding-stego.ubuntu1.student
    USER ubuntu
    PASSWORD ubuntu
    DOCKER_ARGS -v /home/student/labtainer/trunk/labs/dew-audit/audit/attack.py:/home/ubuntu/attack.py:ro -v /home/student/labtainer/trunk/labs/dew-audit/audit/dew_core.py:/home/ubuntu/dew_core.py:ro -v /home/student/labtainer/trunk/labs/dew-audit/audit/dew_embed.py:/home/ubuntu/dew_embed.py:ro -v /home/student/labtainer/trunk/labs/dew-audit/audit/dew_extract.py:/home/ubuntu/dew_extract.py:ro -v /home/student/labtainer/trunk/labs/dew-audit/audit/instructions.txt:/home/ubuntu/instructions.txt:ro -v /home/student/labtainer/trunk/labs/dew-audit/audit/make_cover.py:/home/ubuntu/make_cover.py:ro -v /home/student/labtainer/trunk/labs/dew-audit/audit/quality.py:/home/ubuntu/quality.py:ro -v /home/student/labtainer/trunk/labs/dew-audit/audit/Student.py:/home/ubuntu/Student.py:ro -v /home/student/labtainer/trunk/labs/dew-audit/audit/submit_dew.py:/home/ubuntu/submit_dew.py:ro -v /home/student/labtainer/trunk/labs/dew-audit/bin/scp:/home/ubuntu/.local/bin/scp:ro -v /tmp/dew-audit-xfer:/dew-xfer
    local-net 172.25.30.10
    ADD-HOST verifier:172.25.30.20

CONTAINER verifier
    TERMINALS 1
    REGISTRY vhtuan2004
    IMAGE_NAME vp9-padding-stego.ubuntu1.student
    USER ubuntu
    PASSWORD ubuntu
    DOCKER_ARGS -v /home/student/labtainer/trunk/labs/dew-audit/verifier/attack.py:/home/ubuntu/attack.py:ro -v /home/student/labtainer/trunk/labs/dew-audit/verifier/dew_core.py:/home/ubuntu/dew_core.py:ro -v /home/student/labtainer/trunk/labs/dew-audit/verifier/dew_extract.py:/home/ubuntu/dew_extract.py:ro -v /home/student/labtainer/trunk/labs/dew-audit/verifier/instructions.txt:/home/ubuntu/instructions.txt:ro -v /home/student/labtainer/trunk/labs/dew-audit/verifier/run_tests.sh:/home/ubuntu/run_tests.sh:ro -v /home/student/labtainer/trunk/labs/dew-audit/verifier/Student.py:/home/ubuntu/Student.py:ro -v /tmp/dew-audit-xfer:/dew-xfer
    local-net 172.25.30.20
    ADD-HOST audit:172.25.30.10
